h1 {
    color: #99CC99;
    text-align: center;
    font-family: sans-serif;
}

img {
    display: block;
    max-width: 90%;
    height: auto;
    border: 10px solid #333333;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #666766;
    font-family: sans-serif;
    color: #99CC99;
}

.slider {
    width: 100%;
}

.button {
  background-color: #009933;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}