h1 {
    color: #99CC99;
    font-family: sans-serif;
}

img {

}

body {
    background-color: #000000;
    font-family: sans-serif;
    color: #99CC99;
}

.slider {
    width: 25%;
}

.button {
  background-color: #009933;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}